<form action="" class="mt-4 p-3" method="post">
    <label for="search" class="form-label">
        <h3>Tìm kiếm</h3>
    </label>
    <div class="mt-3">
        <input type="text" id="search" name="q" class="form-control" placeholder="Nhập ký tự cần tìm ...">
    </div>
    <div class="mt-3">
        <select name="gender" class="form-control">
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
</form>